<div>
    <span style="z-index:1;position: absolute;left:20px;bottom: 20px;font-size: 25px;height:50px;">
        <button class="btn-filled blue" (tap)="this.appDocumentNotePad.cancelAnnotation();"><i
                class="fas fa-arrow-left fa-2x"></i>{{'lang.cancelAnnotation' | translate}}</button>
    </span>
    <span style="z-index:1;position: absolute;bottom: 20px;right: 20px;font-size: 25px;">
        <button class="btn-filled green" (tap)="this.appDocumentNotePad.validateAnnotation();"><i
                class="fas fa-check-circle fa-2x"></i>{{'lang.validateAnnotation' | translate}}</button>
    </span>
</div>
<div class="tool-content tool-content-right">
    <ng-container *ngFor="let color of this.appDocumentNotePad.penColors" let idx="index">
        <input type="radio" name="colors" [checked]="idx === 0" [value]="color.id" class="radio"
            [ngStyle]="{'border-color': color.id, 'background-color': color.id}">
    </ng-container>
    <hr>
    <i class="fa fa-undo fa-2x undo" (click)="this.appDocumentNotePad.undo()"></i>
</div>