<mat-sidenav-container autosize>
  <mat-sidenav #snav [disableClose]="!signaturesService.mobileMode" [mode]="signaturesService.mobileMode ? 'over': 'side'" fixedInViewport="true"
    [opened]="!signaturesService.mobileMode" [style.width.px]="350">
    <app-admin-sidebar [snavLeftComponent]="this.snav" [snavRightComponent]="this.snavRight"></app-admin-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="mainView">
    <header class="header">
      <div class="header-title">
        <button *ngIf="signaturesService.mobileMode" mat-icon-button (click)="this.snav.toggle();">
          <mat-icon fontSet="fas" fontIcon="fa-bars" style="font-size: 24px;"></mat-icon>
        </button>
        <span><b>{{ldapList.length}}</b> {{'lang.manage_ldap_configurationsAlt' | translate}}</span>
      </div>
      <div>
        <mat-paginator #paginator [length]="100" [pageSize]="10"></mat-paginator>
      </div>
    </header>
    <div class="container">
      <div *ngIf="loading" class="loader">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table #table class="dataTable" [dataSource]="dataSource" matSort matSortActive="label"
        matSortDirection="asc" [class.emptyTable]="dataSource.filteredData.length === 0">
        <ng-container matColumnDef="label">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'lang.label' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef style="justify-content: end;">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="justify-content: flex-end;">
            <button mat-icon-button color="warn" [disabled]="dataSource.data.length === 1 && authService.authMode === 'ldap'" (click)="$event.stopPropagation();delete(element)" title="{{'lang.delete' | translate}}">
              <mat-icon class="fa fa-trash-alt fa-2x"></mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/administration/connections/ldaps/{{row.id}}"
          style="cursor:pointer;"></mat-row>
      </mat-table>
      <div class="addButton">
        <button mat-stroked-button type="button" class="btn blue" routerLink="/administration/connections/ldaps/new">{{'lang.ldapCreation' | translate}}</button>
      </div>
      <div class="noResult" *ngIf="dataSource.filteredData.length === 0">
          {{'lang.noResult' | translate}}
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #snavRight disableClose [mode]="signaturesService.mobileMode ? 'over': 'side'" [opened]="false"
    fixedInViewport="true" position='end'>
  </mat-sidenav>
</mat-sidenav-container>