@import '../../../css/vars.scss';

.avatarProfile {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  border: solid 3px #F99830;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s;
}

