<ng-container *ngFor="let signature of this.signaturesService.signaturesContent[this.signaturesService.currentPage];let i = index;">
  <div [style.width.%]="signature.width" (tap)="$event.preventDefault();" [position]="{'x': (signature.positionX*this.signaturesService.workingAreaWidth)/100, 'y': (signature.positionY*this.signaturesService.workingAreaHeight)/100}" id="signaturesContent" style="top:0;left:0;position: absolute;border: dashed 1px grey;background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;"
    ngDraggable preventDefaultEvent="true" [bounds]="page" inBounds="true" (started)="onDragBegin($event)" (endOffset)="moveSign($event,i)" [ngClass]="{
              'pdf-page-canvas':!signaturesService.renderingDoc,
              'pdf-page-canvas-loading-doc':signaturesService.renderingDoc
            }">

    <!-- FIX ISSUE IN DEVICE TOUCH -->
    <button *ngIf="!signaturesService.mobileMode" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" style="right: 0;position: absolute;color:#F99830;">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
    </button>
    <button *ngIf="signaturesService.mobileMode" (tap)="openMenu(menuTrigger)" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"
      style="right: 0;position: absolute;color:#F99830;">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
    </button>
    <!---->

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="$event.stopPropagation();deleteSignature(i);">
        <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
        <span>{{'lang.delete' | translate}}</span>
      </button>
      <button *ngIf="signaturesService.totalPage > 1" [disabled]="signature.inAllPage" mat-menu-item (click)="$event.stopPropagation();cloneSign(i);" title="{{'lang.replicateSignatureAllPage' | translate}}">
        <mat-icon fontSet="fas" fontIcon="fa-clone"></mat-icon>
        <span>{{'lang.replicate' | translate}}</span>
      </button>
    </mat-menu>
    <img [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
      [style.width.%]="100">
  </div>
</ng-container>