<!-- <section class="drawer" [ngClass]="{'open': open}"> -->
<section class="drawer" [ngClass]="{'open' : signaturesService.showDrawer}">
  <button *ngIf="!signaturesService.showDrawer" class="btn green btn-action" (click)="openDrawer()">
      <i class="fas fa-arrow-up"></i>
      {{'lang.open' | translate}}
    </button>
  <i *ngIf="signaturesService.showDrawer"  class="far fa-times-circle fa-3x btn-action" (click)="closeDrawer()"></i>
  <app-signatures></app-signatures>
  <app-pad></app-pad>
</section>
