<div class="panel-container" *ngIf="!loading">
    <div class="panel-header">
        <button *ngIf="signaturesService.mobileMode" class="closePanel" mat-icon-button type="button" (tap)="snavRightComponent.close();">
            <mat-icon fontSet="fas" fontIcon="fa-arrow-right fa-2x"></mat-icon>
        </button>
        <mat-icon fontSet="fas" fontIcon="fa-info-circle fa-2x"></mat-icon> {{'lang.informations' | translate}}
    </div>
    <div class="panel-content" *ngIf="mainDocument.id">
        <mat-list>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.sender" title="{{mainDocument.sender}}"
                            placeholder="{{'lang.emittedBy' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngIf="mainDocument.description != null">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.description" title="{{mainDocument.description}}"
                            placeholder="{{'lang.description' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngIf="mainDocument.deadline != null">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.deadline" title="{{mainDocument.deadline}}"
                            placeholder="{{'lang.processingDeadline' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.reference" title="{{mainDocument.reference}}"
                            placeholder="{{'lang.reference' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.title" title="{{mainDocument.title}}"
                            placeholder="{{'lang.subject' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngFor="let data of mainDocument.metadata;">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="data.value" title="{{data.value | translate}}"
                            placeholder="{{data.label | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
        </mat-list>
    </div>
</div>