.pad {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(151, 151, 151, 0.55);
  border-radius: 5px;
  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    &-boxed {
      border-radius: 60px;
      height: 60px;
      background: #F1F4F4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }
  }
  &-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .radio {
    appearance: none;
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-width: none;
    border-style: solid;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    &:checked, &:hover {
      transform: scale(1.5);
    }
  }
}


.padContent {
  border: 1px dashed rgba(151, 151, 151, 0.55);
}