$color-main: #4F4F4F; // default color in application
$primary: #135F7F; // main color theme of application
$accent: #2ECC71; // accent color theme of application (like success buttons)
$warn: rgb(231, 76, 60); // warning color theme of application

// WARNING ! YOU MUST RECOMPILATE maarch-material.scss IF VALUES CHANGES